nav {
  background-color: #FFEF78;
  height: 50px;
  width: 54.5%;
}

section {
  background-color: #F99999;
}

article {
  background-color: #99F9A4;
}


footer {
  background-color: #A999F9;
  height: 50px;
  width: 54.5%;
}

img{
  margin: 10px;
}

main {
  width: 50%;
  padding: 25px;
  margin: 10px;
  background-color: #78D4FF;
}
